




*{

    margin: 0;
    padding: 0;
   
font-family: 'Poppins', sans-serif;

box-sizing: border-box;

}@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Konkhmer+Sleokchher&family=Poppins:wght@100&display=swap');


header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    /* background-color: transparent; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
   
   


}

/* section star animation */

.star-animate{

    position: absolute;
    top: 0;
    left: 0;
    
    min-width: 100%;
    height: 100vh;
    /* animation: animateBg 10s linear infinite;  */
    background-image: url(./images/earth-1756274_1280.webp);
    background-size: cover;
    overflow: hidden;

}


@keyframes animateBg{

    0%,100%{
        transform:scale (1);
    }
    50%{

        transform: scale(1.2);
    }

}

.star-animate span {

    position: absolute;
    top: 50%;
    right: 10%;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background:#fff ;
    /* box-shadow: 0 0 0 4px rgba(255, 255,255, 0.1), 0 0 0 8px
     rgba(255, 255,255, 0.1),
     
     0 0 0 20px rgba(255, 255,255, 0.1); */
     animation: animate 3s linear infinite;
}

.star-animate span ::before{

    content: "";
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}

@keyframes animate {

    0%{
        transform: rotate(315deg) translateX(0);
        opaciity:1;
    }
        70%{
            opacity:1;
        
        }
        100%{
            transform: rotate(315deg) translateX(-1000px);
            opacity: 0;
        }


    
    }



span:nth-child(1){

    top:0;
    right:0;
    animation-delay:0;
    animation-duration:1s
}
span:nth-child(2){

    top:0;
    right:80px;
    animation-delay:0.2s;
    animation-duration:3s
}
span:nth-child(3){

    top:80px;
    right:0px;
    left: initial;
    animation-delay:0.4s;
    animation-duration:2s
}
span:nth-child(4){

    top:0px;
    right:180px;
    left: initial;
    animation-delay:0.6s;
    animation-duration:1.5s
}
span:nth-child(5){

    top:0;
    right:0;
    animation-delay:0;
    animation-duration:1s
}
span:nth-child(6){

    top:0;
    right:0;
    animation-delay:0;
    animation-duration:1s
}
span:nth-child(7){

    top:0;
    right:0;
    animation-delay:0;
    animation-duration:1s
}
/* logo */
.logo{
position: absolute;
left: 0;
  height: 200px;
  width: 200px;
    text-decoration: none;
   

}



.navbar a{


font-size:18px ;
text-decoration: none;
font-weight: 400;
margin-left: 35px;
color: white;

}

.navbar a:hover,
.navbar a.active
{

    color: goldenrod;
    transition: 1s;
}


/* section home */

.home{

min-height: 100vh;
max-width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
    
    margin-top: 30px;
    
}


.home-content{


    max-width: 600px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
  
    
  

}

.home-content h1{

    font-size:40px;
    font-weight: 700;
    margin-top: 50%;
    margin-bottom: 10px;
    color: white;
    z-index: 1;
    animation: 3s linear 1s slidein;


    
}

.home-content h3{

    font-size: 32px;
    font-weight: 700;
    color:gold;
    margin-bottom: 10px;
    z-index: 1;
   
}



.btn{

    color: white;
    background-color: gold;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    font-weight: 600;


 
}

.home-content button:hover{

    background-color:  rgb(66, 206, 222);
}


.home-content-image{

    max-height: 400px;
    max-width: 400px;
 
} 


/* section a porpos */

.apropos{
max-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
    color: gray;
   
}

.apropos p{

    margin-bottom: 20px;
    margin-top: 20px;
}

.box-right {

    max-width: 400px;
    max-height: 400px;
    text-align: justify;
   
}

.box-left{

    min-width: 600px;
    max-height: 400px;
    box-shadow: 4px gray ;


}

/* 
section competences  */

.competences-container{
display: flex;
flex-direction: row;
justify-content: space-around;
    max-width: 100vw;
    min-height: 100vh;
 
position: relative;

   
}
li{
    list-style: none;
    margin-bottom: 20px;
}

.competence-left{

    max-width: 500px;
    min-height: 600px;
    margin-top: 50px;
  text-align: justify;
    

}



.competence-right{

    min-width: 600px;
    max-height: 600px;
}



#SkillBox {
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    width: 95%;
    height: auto;
    margin: 40px auto;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    padding: 10px;
    border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;  
}
#SkillBox img {
    width: 20%;
    height: 10%;
    margin: auto 35%;
    padding: 10px;
}
.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}
#Skill-WORDPRESS {
    width: 100%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #9aea64;
}
@keyframes Animate-WORDPRESS {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-webkit-keyframes Animate-WORDPRESS {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-moz-keyframes Animate-WORDPRESS {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-o-keyframes Animate-WORDPRESS {
    from {
    width: 10px;
}
to {
    width: 100%}
}#Skill-CSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}#Skill-jQuery {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #99856d;
}
@keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}#Skill-JS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 65%;
    height: 50px;
    position: absolute;
    background-color: #c44e45;
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}#Skill-XML {
    animation: Animate-XML 4s;
    -webkit-animation: Animate-XML 4s;
    -moz-animation: Animate-XML 4s;
    -o-animation: Animate-XML 4s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #5aa669;
}
@keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}#Skill-C {
    animation: Animate-C 4s;
    -webkit-animation: Animate-C 4s;
    -moz-animation: Animate-C 4s;
    -o-animation: Animate-C 4s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: #970cc1;
}
@keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}

}#Skill-PHP {
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #5A69A6;
}
@keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-webkit-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-moz-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-o-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}#Skill-SQL {
    animation: Animate-SQL 4s;
    -webkit-animation: Animate-SQL 4s;
    -moz-animation: Animate-SQL 4s;
    -o-animation: Animate-SQL 4s;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: #23b1db;
}
@keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-webkit-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-moz-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-o-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}#Skill-VBNET {
    animation: Animate-VBNET 4s;
    -webkit-animation: Animate-VBNET 4s;
    -moz-animation: Animate-VBNET 4s;
    -o-animation: Animate-VBNET 4s;
    width: 35%;
    height: 50px;
    position: absolute;
    background-color: #f8a51e;
}
#Skill-HTML {
    width: 100%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #ea8564;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
    width: 35%}

}

.Skill-Area {
    z-index: 1;
    float: left;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
/* 
section portfolio ou work */

.work{

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    -webkit-perspective: 90rem;
            perspective: 90rem;
    -webkit-perspective-origin: 34% 61%;
            perspective-origin: 34% 61%
}


.work img {
   max-width: 300px;

}

.work button {
    cursor: pointer;
    outline: 0;
    width: 180px;
    height: 48px;
    border-radius: 8px;
    background-color: #2C3138;
    margin-top: 40px;
    overflow: hidden;
    -webkit-transform: scale(.7);
            transform: scale(.7);
}

.work button::after {
    content: "";
    position: relative;
    top: -40px;
    display: block;
    width: 48px;
    height: 107%;
    background-color: #000;
    margin-top: -1px;
    margin-left: -7px;
    border-radius: 6px 0 0 6px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTRweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIDAgMTQgMTciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUxLjEgKDU3NTAxKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5TaGFwZTwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJEZXNrdG9wLUhELUNvcHktMyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTYwOS4wMDAwMDAsIC0xMDA4LjAwMDAwMCkiIGZpbGw9IiNGOUZDRkYiIGZpbGwtcnVsZT0ibm9uemVybyI+CiAgICAgICAgICAgIDxnIGlkPSJHcm91cC0xMSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTQ3LjAwMDAwMCwgNDk5LjAwMDAwMCkiPgogICAgICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLTYtQ29weSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDYuMDAwMDAwLCA0OTUuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICAgICAgPGcgaWQ9ImljX2ZpbGVfZG93bmxvYWRfYmxhY2tfMjRweC0oMSkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE2LjAwMDAwMCwgOC4wMDAwMDApIj4KICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTE0LDEyIEwxMCwxMiBMMTAsNiBMNCw2IEw0LDEyIEwwLDEyIEw3LDE5IEwxNCwxMiBaIE0wLDIxIEwwLDIzIEwxNCwyMyBMMTQsMjEgTDAsMjEgWiIgaWQ9IlNoYXBlIj48L3BhdGg+CiAgICAgICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=');
    background-repeat: no-repeat;
    background-position: center;
}

.work button::before {
    content: "";
    display: block;
    width: 48px;
    height: 46px;
    margin-left: -7px;
    margin-top: -1px;
    -webkit-transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
    transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
}

.box-1:hover button::before {
    width: 120%;
    opacity: .8;
    background-color: #00BF9C;
}

.box-2:hover button::before {
    width: 120%;
    opacity: .8;
    background-color: #653EE6;
}

.box-3:hover button::before {
    width: 120%;
    opacity: .8;
    background-color: #008BFF;
}


.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80vw;
    height: 100vh;
    margin-left: 6vw;
    /* transform:rotateX(7deg) rotateZ(-4deg) rotateY(13deg) scale3d(1, 1, -0.9); */
    -webkit-transform: rotateX(23deg) rotateZ(-9deg) rotateY(15deg) scale3d(1, 1, -0.9);
            transform: rotateX(23deg) rotateZ(-9deg) rotateY(15deg) scale3d(1, 1, -0.9);
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    will-change: transform;
}

.box:hover .cover {
    -webkit-transform: translateY(-14px) scale(1.04);
            transform: translateY(-14px) scale(1.04);
}

.box-1 button {
    border: 1px solid #00BF9C;
    color: #fff;
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
}

.box-1 button::after {
    content: "";
    background-color: #00BF9C;
    top: -85px
}

.box-2 button {
    border: 1px solid #653EE6;
    color: #fff;
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
}

.box-2 button::after {
    content: "";
    background-color: #653EE6;
    top: -85px
}

.box-3 button {
    border: 1px solid #008BFF;
    color: #fff;
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
}

.box-3 button::after {
    content: "";
    background-color: #008BFF;
    top: -85px
}

.box-4 button {
    border: 1px solid #FF6500;
    color: #fff;
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
}

.box-4 button::after {
    content: "";
    background-color: #FF6500;
    top: -85px
}

.cover {
   
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    
}

.cover img {
    -webkit-transition: all 260ms ease-in-out;
    transition: all 260ms ease-in-out;
   
}

.box .cover::after {
    content: "";
    z-index: -99;
    position: absolute;
    top: 20px;
    left: -20px;
    display: block;
    width: 160px;
    height: 214px;
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 160px 214px;
    -webkit-filter: blur(24px);
            filter: blur(24px);
    -webkit-transition: all 260ms ease-in-out;
    transition: all 260ms ease-in-out;
    will-change: transform;
    -webkit-transform: scale(.6);
            transform: scale(.6);
}

.box:hover .cover::after {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.box-1 .cover::after {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-893bc9989a52eba0.png');
}

.box-2 .cover::after {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-964edcf0f07211b0.png');
}

.box-3 .cover::after {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-2ebb2b6f93add843.png');
}

.box-4 .cover::after {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-f79c4cc8de2f84ae.png');
}

.box-1 button div::before {
    content: 'Voir plus';
    position: relative;
    top: -44px;
    left: -4px;
    color: #00BF9C;
    font-size: 21px;
    font-weight: 300;
}

.box-1:hover button div::before {
    color: #fff;
}

.box-2 button div::before {
    content: 'Voir plus';
    position: relative;
    top: -44px;
    left: -6px;
    color: rgb(154, 123, 255);
    font-size: 21px;
    font-weight: 300;
}

.box-2:hover button div::before {
    color: #fff;
}

.box-3 button div::before {
    content: 'Voir plus';
    position: relative;
    top: -44px;
    left: 3px;
    color: #008BFF;
    font-size: 21px;
    font-weight: 300;
}

.box-3:hover button div::before {
    color: #fff;
}

.box-4 button div::before {
    content: 'Scanner';
    position: relative;
    top: -44px;
    left: -9px;
    color: #FF6500;
    font-size: 21px;
    font-weight: 300;
}

.box-4:hover button div::before {
    color: #fff;
}
/* 
.dr {
position: absolute;
  bottom: 16px; 
  right: 16px;
  width:100px;
} */