*{

    margin: 0;
    padding: 0;
}



.main{
max-width: 100vw;
max-height: 100vh;
background-color: bisque;
margin: 200px;
display: flex;
justify-content: center;
align-items: center;



}

.main img {

    max-width: 400px;
    max-height: 400px;
    padding: 5%;
    margin: 2%;
}

h1{
    padding: 30px;

    text-align: center;
}